
.box {
    margin-top: 10;
    height: 110;
    background-color: white;
}

Progress {
    color: #5dff55;
    background-color: rgba(52, 49, 42, 0.31);

}

.tittle {
    font-size: 12pt;
    margin-left: 5pt;
    color: rgba(37, 44, 50, 0.4);
}

.androidTittle {
    margin-top: 7pt;
}

.androidTittle2 {
    margin-top: 14pt;
}

.valueIOS {
    font-size: 17pt;
    color: rgb(37, 44, 50);
    margin-top: -29pt;

}

.valueAndroid {
    font-size: 17pt;
    color: rgb(37, 44, 50);
    margin-top: -9pt;
}

.box-lesson {
    background-color: rgb(255, 255, 255);
    border-radius: 8pt 8pt 8pt 8pt;
    height: 108pt;
    width: 90%;

}

.box-profile {
    background-color: rgb(255, 255, 255);
    border-radius: 8pt 8pt 8pt 8pt;
    width: 90%;
    height: 380pt;
    padding: 16pt;
}

.box-profile2 {
    background-color: rgb(255, 255, 255);
    border-radius: 8pt 8pt 8pt 8pt;
    width: 90%;
    height: 356pt;
    padding: 16pt;
}


.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: rgb(255, 255, 255);
}

.side {
    margin-right: 15;
    margin-left: 15;
}

.sideStackLayoutMenu {
    background-color: white;
    margin-left: 10;
    margin-right: 10;
}

.sideTitleStackLayout {
    background-color: rgb(255, 255, 255);
    height: 80pt;
}

.navtext {
    color: rgb(37, 44, 50);
    font-size: 17pt;
    margin-top: 52%;
}

.sideLabel {
    font-size: 17pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    color: rgb(37, 44, 50);
}

.left {
    margin-top: 1;
}

.iosExit {
    margin-top: 250pt
}

.androidExit {
    margin-top: 321pt
}

.navBar {
    margin-bottom: 20;
    height: 40pt;
}

.sideLightGrayLabel {
    padding-left: 15pt;
    background-color: rgba(159, 52, 209, 0.05);
    color: rgb(159, 52, 209);
    font-size: 17pt;
    font-family: bold;
}

.space {
    height: 10pt;
}

.container {
    margin-right: 20;
    margin-left: 20;
}
