<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="100, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="{{user.name}} {{user.lastname}}" class="navtext"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayoutMenu side">
                <Label text="Главная" class="sideLabel sideLightGrayLabel" (tap)="navigate('/teacherLesson')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Список учащихся" class="sideLabel sideLightGrayLabel" (tap)="navigate('/all-students')" ></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Настройки" class="sideLabel sideLightGrayLabel" ></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Выйти" class="sideLabel sideLightGrayLabel" (tap)="logout()"></Label>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent style="background-color: #F5F5F5">
        <StackLayout class="navBar">
            <GridLayout rows="*" columns="2*,20*">
                <Image row="0" col="0" src="~/app/assets/menu.png" (tap)="openDrawer()" style="margin-left: 10" stretch="aspectFit"></Image>
                <Image row="0" col="1" src="~/app/assets/logo.png" style="width: 150;height: 50 !important;" stretch="aspectFit"></Image>
            </GridLayout>
        </StackLayout>
        <GridLayout rows="6*,*">
            <ScrollView row="0" class="container">
                <GridLayout rows="*,*">

                    <GridLayout row="1" rows="*, auto" class="wrapper">
                        <ScrollView row="0">
                            <GridLayout rows="*,*,*">
                                <Label row="0" text="Регистрация завершена!" style="font-size: 25;text-align: center"
                                       textWrap="true"></Label>
                                <StackLayout row="1" class="barcode" style="margin-top: 15">
                                    <Image src="~/app/assets/success.png" stretch="aspectFit"></Image>
                                </StackLayout>
                                <Label row="2" text="Заригистрировано {{size}} человек"
                                       style="font-size: 16;text-align: center;color: #A8A8A8;margin-top: 15"
                                       textWrap="true"></Label>

                            </GridLayout>
                        </ScrollView>
                    </GridLayout>
                </GridLayout>
            </ScrollView>
            <StackLayout row="1">
                <GridLayout rows="*">
                    <StackLayout row="0" style="width: 90%;height: 40;background-color: #AE00FF;">
                        <GridLayout rows="*" style="text-align: center">
                            <Label row="0" text="Вернутся на главную" (tap)="navigate('/teacherLesson')"
                                   style="font-size: 16;color: white"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>
