<StackLayout style="background-color: #F5F5F5">
    <StackLayout class="navBar">
        <Image src="~/app/assets/logo.png" style="width: 120pt;height: 60pt !important;margin-top: 5pt"
               stretch="aspectFit"></Image>
    </StackLayout>
    <GridLayout rows="6*,*">
        <ScrollView row="0" class="container">
            <GridLayout rows="*,*">

                <GridLayout row="1" rows="*, auto" class="wrapper">
                    <ScrollView row="0">
                        <GridLayout rows="*,*,*,*,*">
                            <Label row="0" text="Регистрация на занятие "
                                   style="font-size: 22pt;text-align: center;color:rgb(37,44,50)"
                                   textWrap="true"></Label>
                            <Label row="1" text="«Автоматизация механизмов» "
                                   style="font-size: 22pt;text-align: center;color:rgb(37,44,50)"
                                   textWrap="true"></Label>
                            <Label row="2" text="завершена!"
                                   style="font-size: 22pt;text-align: center;color:rgb(37,44,50)"
                                   textWrap="true"></Label>
                            <StackLayout row="3" class="barcode" style="margin-top: 15">
                                <Image src="~/app/assets/success.png" stretch="aspectFit"></Image>
                            </StackLayout>
                            <Label row="4" text="Заригистрировано {{size}} человек"
                                   style="font-size: 15pt;text-align: center;color: rgb(37,44,50);margin-top: 15"
                                   textWrap="true"></Label>
                        </GridLayout>
                    </ScrollView>
                </GridLayout>
            </GridLayout>
        </ScrollView>
        <StackLayout row="1">
            <GridLayout rows="*">
                <StackLayout row="0">
                    <GridLayout rows="*" style="text-align: center">
                        <Button text="Вернутся на главную" style="width: 94%" shadow="6"
                                class="time" (tap)="navigate('/teacherLesson')"
                        ></Button>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
</StackLayout>
