<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="100, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="{{user.name}} {{user.lastname}}" class="navtext"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout side">
                <Label text="Главная" class="sideLabel sideLightGrayLabel" (tap)="navigate('/teacherLesson')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Список учащихся" class="sideLabel sideLightGrayLabel"
                       (tap)="navigate('/all-students')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Настройки" class="sideLabel sideLightGrayLabel"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Выйти" class="sideLabel sideLightGrayLabel" (tap)="logout()"></Label>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent style="background-color: #F5F5F5">
        <StackLayout class="navBar">
            <GridLayout rows="*" columns="2*,20*">
                <Image row="0" col="0" src="~/app/assets/menu.png" (tap)="openDrawer()" style="margin-left: 10"
                       stretch="aspectFit"></Image>
                <Image row="0" col="1" src="~/app/assets/logo.png" style="width: 150;height: 50 !important;"
                       stretch="aspectFit"></Image>
            </GridLayout>
        </StackLayout>
        <ScrollView class="container">
            <GridLayout rows="*,*,*,*,*">
                <StackLayout row="1">
                    <GridLayout rows="*,*,*">
                        <Label row="0" text="Добро пожаловать," style="font-size: 25"></Label>
                        <Label row="1" text="{{user.name}} {{user.lastname}}" style="font-size: 25"></Label>
                        <Label row="2" text="Достык Education"
                               style="font-size: 15;margin-top: 10;color: #6B6B6B"></Label>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="2">
                    <GridLayout rows="*" columns="*,*">
                        <StackLayout row="0" col="0" class="box">
                            <GridLayout rows="*,*" style="margin-top: 15;margin-left: 10;margin-bottom: 10">
                                <Label row="0" text="Программы" style="font-size: 13;color:#8E8E8E"></Label>
                                <Label row="1" text="4" style="font-size: 20"></Label>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="0" col="1" class="box left">
                            <GridLayout rows="*,*" style="margin-top: 15;margin-left: 10;margin-bottom: 10">
                                <Label row="0" text="Учещиеся" style="font-size: 13;color:#8E8E8E"></Label>
                                <Label row="1" text="125" style="font-size: 20"></Label>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="3" style="margin-top: 30">
                    <GridLayout rows="*,*,*">
                        <StackLayout row="0">
                            <Label *ngIf="reponse.type === 'created'" row="0" text="Следующий урок"
                                   style="font-size: 13"></Label>
                            <Label *ngIf="reponse.type !== 'created'" row="0" text="Текущий урок"
                                   style="font-size: 13"></Label>
                        </StackLayout>
                        <StackLayout row="1" style="margin-top: 10">
                            <GridLayout rows="*" columns="*,*">
                                <Label row="0" col="0" text="{{reponse.title}}" style="font-size: 20"></Label>
                                <Label row="0" col="1"
                                       text="{{getTime(reponse.timeStartId)}}-{{getTime(reponse.timeEndId)}}"
                                       style="font-size: 20;text-align: right"></Label>

                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="2" style="margin-top: 10">
                            <Button text="Начать регистрацию" class="my-button input-border"
                                    (tap)="Registration($event)"></Button>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="4" style="margin-top: 20" *ngIf="students">
                    <GridLayout rows="*,*">
                        <StackLayout row="0">
                            <Label row="0" col="0" text="Список учащихся({{students.length}})"
                                   style="font-size: 13"></Label>
                        </StackLayout>
                        <StackLayout row="1" style="margin-top: 20">
                            <GridLayout rows="*,*">
                                <StackLayout row="0">
                                    <GridLayout rows="*" columns="*,*">
                                        <Label row="0" col="0" text="Учащийся" style="font-size: 11"></Label>
                                        <Label row="0" col="1" text="Статус"
                                               style="font-size: 11;text-align: right"></Label>
                                    </GridLayout>
                                </StackLayout>
                                <StackLayout row="1">
                                    <StackLayout row="1" class="hr-light"
                                                 style="background-color: black;margin-top: 3"></StackLayout>
                                </StackLayout>
                                <StackLayout row="2">
                                    <GridLayout rows="{{getRows()}}">
                                        <StackLayout *ngFor="let student of students;let i = index" row="{{i}}"
                                                     class="student-box">
                                            <GridLayout rows="*" columns="*,*" style="margin-left: 10;margin-right: 10">
                                                <Label row="0" col="0" text="{{student.name}} {{student.surname}}"
                                                       style="font-size: 15"></Label>
                                                <Label row="0" col="1" text="На уроке"
                                                       *ngIf="student.status === 'attend'"
                                                       style="font-size: 15;text-align: right"></Label>
                                                <Label row="0" col="1" text="-" *ngIf="student.status !== 'attend'"
                                                       style="font-size: 15;text-align: right"></Label>
                                            </GridLayout>
                                        </StackLayout>
                                    </GridLayout>
                                </StackLayout>
                            </GridLayout>


                        </StackLayout>
                    </GridLayout>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>
