<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="100, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="{{user.name}} {{user.lastname}}" class="navtext"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayoutMenu side">
                <Label text="Главная" class="sideLabel sideLightGrayLabel" (tap)="navigate('/teacherLesson')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Список учащихся" class="sideLabel sideLightGrayLabel"
                       (tap)="navigate('/all-students')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Настройки" class="sideLabel sideLightGrayLabel"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Выйти" class="sideLabel sideLightGrayLabel" (tap)="logout()"></Label>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent style="background-color: rgb(255,255,255)">
        <StackLayout class="navBar">
            <GridLayout rows="*" columns="2*,16*">
                <Image row="0" col="0" src="~/app/assets/arrow_left.png" (tap)="navigate('/teacherLesson')"
                       style="margin-left: 10;margin-top: 5pt;width: 24pt;height: 13.2pt"
                       stretch="aspectFit"></Image>
                <Image row="0" col="1" src="~/app/assets/logo.png"
                       style="width: 120pt;height: 60pt !important;margin-top: 5pt"
                       stretch="aspectFit"></Image>
            </GridLayout>
        </StackLayout>
        <ScrollView class="container">
            <GridLayout rows="*,*,*">
                <StackLayout row="1">
                    <GridLayout rows="*,*,*,*,*">
                        <StackLayout row="0">
                            <GridLayout rows="*,*">
                                <Label row="0" text="Регистрация на занятие"
                                       style="text-align: center;font-size: 22pt;color:rgb(37,44,50)"></Label>
                                <Label row="1" text="«Автоматизация механизмов»"
                                       style="text-align: center;font-size: 22pt;color:rgb(37,44,50)"></Label>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="1">
                            <Label text="открыта"
                                   style="text-align: center;font-size: 22pt;margin-top: 7;color:rgb(37,44,50)"></Label>
                        </StackLayout>
                        <StackLayout row="2" class="barcode">
                            <Image src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{qrCode}}"
                                   stretch="aspectFit"></Image>
                        </StackLayout>
                        <StackLayout row="3" style="text-align: center;font-size: 15;margin-top: 7">
                            <GridLayout rows="*,*,*,*,*,*,*">
                                <Label row="0" text="Данный QR-код обновляется каждые 3"
                                       style="color: rgba(37,44,50,0.6);font-size: 17pt"
                                ></Label>
                                <Label row="1" text="секунды. Покажите его ученикам, чтобы"
                                       style="color: rgba(37,44,50,0.6);font-size: 17pt"
                                ></Label>
                                <Label row="3" text="они могли его отсканировать."
                                       style="color: rgba(37,44,50,0.6);font-size: 17pt"
                                ></Label>
                                <Label row="4" text="Также им достуна регистрация по "
                                       style="color: rgba(37,44,50,0.6);font-size: 17pt;margin-top: 15pt"
                                ></Label>
                                <Label row="5" text="Bluetooth и NFC. Имя Вашего устройства"
                                       style="color: rgba(37,44,50,0.6);font-size: 17pt"
                                ></Label>
                                <Label row="6" text=" для соединения: «AhmetDostyk»"
                                       style="color: rgba(37,44,50,0.6);font-size: 17pt"
                                ></Label>
                            </GridLayout>
                        </StackLayout>
                        <StackLayout row="4">
                            <GridLayout rows="*" columns="auto,*,*"
                                        style="margin-left: 10;margin-right: 10;margin-top: 25"
                                        *ngFor="let student of students;let i = index">
                                <Image col="0" src="~/app/assets/Tick.png" style="height: 12.9pt;width: 16pt"
                                       stretch="aspectFit"></Image>
                                <Label row="0" col="1" text="{{student.name}} {{student.surname}}"
                                       style="margin-left: 10pt"
                                       style="font-size: 15;"></Label>
                                <Label row="0" col="2" text="На уроке"
                                       style="font-size: 15;text-align: right;color: #70BD84"></Label>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <StackLayout row="2" style="margin-top: 20;height: 65pt">
                    <Button text="Завершить регистрацию" style="width: 94%" shadow="6"
                            class="time" (tap)="end()"
                    ></Button>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </StackLayout>
</RadSideDrawer>
