button {
    font-size: 15;
    horizontal-align: center;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}
.time {
    android-elevation: 4;
    background-color: rgb(159,52,209);
    color: white;
    font-weight: bold;
    font-size: 16pt;
    height: 52pt;
    width: 100%;
    border-radius: 8pt 8pt 8pt 8pt;

}
.sideStackLayout {
    background-color: white;
}

.container {
    margin-right: 20;
    margin-left: 20;
}
.sideTitleStackLayout {
    background-color: black;
    height: 100%;
}

.navtext {
    color: aliceblue;
    margin-top: 50%;
    margin-left: 10%;
}
.barcode {
    margin-top: 15;
    margin-bottom: 15;
    height: 150;
    width: 150;
    horizontal-align: center;

}

button {
    font-size: 15;
    horizontal-align: center;
}

.iosIcon {
    margin-top: 7;
}

.androidIcon {
    margin-top: 5
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: rgb(255, 255, 255);
}

.side {
    margin-right: 15;
    margin-left: 15;
}

.sideStackLayoutMenu {
    background-color: white;
    margin-left: 10;
    margin-right: 10;
}

.sideTitleStackLayout {
    background-color: rgb(255, 255, 255);
    height: 80pt;
}

.navtext {
    color: rgb(37, 44, 50);
    font-size: 17pt;
    margin-top: 52%;
}

.sideLabel {
    font-size: 17pt;
    padding-top: 15pt;
    padding-bottom: 15pt;
    color: rgb(37, 44, 50);
}

.left {
    margin-top: 1;
}
.iosExit{
    margin-top: 250pt
}
.androidExit{
    margin-top: 321pt
}
.navBar {
    margin-bottom: 20;
    margin-top: 5pt;
    height: 35pt;
}

.sideLightGrayLabel {
    padding-left: 15pt;
    background-color: rgba(159, 52, 209, 0.05);
    color: rgb(159, 52, 209);
    font-size: 17pt;
    font-family: bold;
}
.space {
    height: 10pt;
}
.container {
    margin-right: 20;
    margin-left: 20;
}
