<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <GridLayout tkDrawerContent rows="100, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="{{user.name}} {{user.lastname}}" class="navtext"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout side">
                <Label text="Главная" class="sideLabel sideLightGrayLabel" (tap)="navigated('/teacherLesson')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Мой профиль" class="sideLabel sideLightGrayLabel"
                       (tap)="navigated('/profile/1')"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Настройки" class="sideLabel sideLightGrayLabel"></Label>
                <StackLayout class="hr-light"></StackLayout>
                <Label text="Выйти" class="sideLabel sideLightGrayLabel" (tap)="logout()"></Label>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <StackLayout tkMainContent style="background-color: white">
        <StackLayout class="navBar">

            <Image src="~/app/assets/logo.png" style="width: 120pt;height: 60pt !important;margin-top: 5pt"
                   stretch="aspectFit"></Image>
        </StackLayout>
        <GridLayout rows="6*,*">
            <ScrollView row="0" class="container">
                <GridLayout rows="*,*">
                    <GridLayout row="1" rows="*, auto" class="wrapper">
                        <ScrollView row="0">
                            <GridLayout rows="*,*,*,*,*">
                                <Label row="0" text="Регистрация"
                                       style="font-size: 28pt;text-align: center;color:rgb(37,44,50)"
                                       textWrap="true"></Label>
                                <Label row="1" text="завершена!"
                                       style="font-size: 28pt;text-align: center;color:rgb(37,44,50) "
                                       textWrap="true"></Label>
                                <StackLayout row="2" class="barcode" style="margin-top: 15">
                                    <Image src="~/app/assets/success.png" stretch="aspectFit"></Image>
                                </StackLayout>
                                <Label row="3"
                                       text="Вы зарегистрированы на занятие"
                                       style="font-size: 17pt;text-align: center;color: rgb(37,44,50);margin-top: 15"
                                       textWrap="true"></Label>
                                <Label row="4"
                                       text="«{{tittle}}»"
                                       style="font-size: 17pt;text-align: center;color: rgb(37,44,50);margin-top: 5"
                                       textWrap="true"></Label>

                            </GridLayout>
                        </ScrollView>
                    </GridLayout>
                </GridLayout>
            </ScrollView>
            <StackLayout row="1">
                <GridLayout rows="*">
                    <StackLayout row="0" style="width: 90%;height: 60pt;">
                        <GridLayout rows="*" style="text-align: center">
                            <Button text="Вернутся на главную" style="width: 94%" shadow="6"
                                    class="time" (tap)="navigate()"
                            ></Button>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>
